body {
    margin: 10px;
    font-family: sans-serif;
    background-color: #1e1e1e; /* Dark background */
    background-image: linear-gradient(to right, #1e1e1e, #1e1e1e);

    color: #d4d4d4; /* Light text color */
}

input {
    height: 15px;
    background-color: #2d2d2d; /* Dark input background */
    color: #d4d4d4; /* Light input text */
    border: 1px solid #3a3a3a; /* Darker border */
}

select {
    border-style: none;
    background-color: #3a3a3a; /* Darker select background */
    color: #d4d4d4; /* Light select text */
    border-radius: 10px;
    padding: 7px;
}

#submit-button {
    color: white;
    background-color: #2931bf; /* Dark button background */
    border-radius: 25px;
    padding: 10px;
    border-style: solid;
    border-color: #2931bf;
    height: 35px;
}

#submit-button:hover {
    color: white;
    background-color: #0e0e82; /* Darker hover background */
    border-style: solid;
    border-color: #0e0e82;
    border-radius: 25px;
    padding: 10px;
    height: 35px;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

input, select {
    margin: 10px;
}

label {
    margin: 5px;
    color: #d4d4d4; /* Light label text */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #36393e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #3a3a3a; /* Darker border */
    width: 95%;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: rgb(164, 162, 162);
    text-decoration: none;
    cursor: pointer;
}

.hover-modal {
    display: none;
    position: absolute;
    background-color: #36393e;
    border: 1px solid #3a3a3a; /* Darker border */
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 0 10px rgb(51, 0, 255);
    max-height: 300px;
    overflow-y: auto;
}

#content-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.upside-r, .upside-c, .deets, .target {
    display: none;
}

#graphModal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 100;
    top: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.graph-content {
    background-color: #36393e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #3a3a3a; /* Darker border */
    width: 80%;
}

/* Base Table Styles */
.table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgb(51, 0, 255);

}

.table th, .table td {
    padding: 12px;
    vertical-align: middle;
    border: 1px solid #3a3a3a; /* Darker border */
    overflow: hidden; /* Prevent overflow */
}

/* Table Header */
.table thead th {
    background-color: #0026ad;
    color: white;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #3a3a3a; /* Darker border */
    position: sticky;
    top: 0;
    z-index: 10;
    opacity: 1;
}

/* Table Body */
.table tbody tr:nth-child(odd) {
    background-color: #1e2124;
}

.table tbody tr:nth-child(even) {
    background-color: #36393e;
}

.table tbody tr:hover {
    background-color: #424549;
}

.table tbody td {
    color: white;
}

/* Table Rows */
.table tr {
    transition: background-color 0.3s;
}

/* Table Borders */
.table-bordered {
    border: 2px solid #3a3a3a; /* Darker border */
}

.table-bordered th, .table-bordered td {
    border: 1px solid #3a3a3a; /* Darker border */
}

/* Responsive Table */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Ensure Hover Effect */
th[title] {
    position: relative;
    cursor: help;
}

th[title]:hover:after {
    content: attr(title);
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    z-index: 1000;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#qty {
    width: 40px;
}

/* Flash Messages */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: black;
    background-color: #39ea3c;
    border-color: #d6e9c6;
}

.alert-warning {
    color: black;
    background-color: #20bb37;
    border-color: #faebcc;
}

.alert-danger {
    color: white;
    background-color: red;
    border-color: #ebccd1;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between buttons */
    margin-top: 20px; /* Space from the top */
}

.logsignbutton {
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 4px;
    padding: 10px 20px;
    border: 2px solid blue;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.logsignbutton:hover {
    color: white;
    background-color: #6f5aeb;
    border-color: blue;
}

.form-container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.custom-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #3a3a3a; /* Darker border */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #2d2d2d; /* Dark input background */
    color: #d4d4d4; /* Light input text */
}

.form-submit {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: auto;
}

.form-submit:hover {
    background-color: #45a049;
}

.form-submit-group {
    display: flex;
    justify-content: center;
}

.form-container-site {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.analyst-container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.analyst-form {
    display: flex;
    flex-direction: column;
}

.analyst-form-group {
    margin-bottom: 10px;
}

.analyst-form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.analyst-form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #3a3a3a; /* Darker border */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #2d2d2d; /* Dark input background */
    color: #d4d4d4; /* Light input text */
}

.analyst-form-submit {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.analyst-form-submit:hover {
    background-color: #45a049;
}

.chart-container {
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar {
    background-color: #111111;
    color: #d4d4d4;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d4d4d4;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #2d2d2d;
    border: 1px solid #3a3a3a;
}

.dropdown-item {
    color: #d4d4d4;
}

.dropdown .dropbtn {
    font-size: 17px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}
.dropdown:hover .dropbtn {
    background-color: #424549;
}
.dropdown-item:hover {
    background-color: #424549;
    color: #ffffff;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5e5d5d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #000000;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.topnav {
    background-color: #3b52a4;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #424549;
    color: white;
  }
  
  .topnav a.active {
    background-color: rgb(6, 6, 108);
    color: white;
  }
  .inlay-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 300px; /* Adjust max-width as per your design */
    margin: 10px; /* Adjust margin as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border: 1px solid #ccc; /* Border for the table */
    border-radius: 4px; /* Rounded corners */
  }
  
  .inlay-table th,
  .inlay-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Bottom border for cells */
  }
  
  .inlay-table th {
    background-color: #1e2124; /* Light background color for header */
    font-weight: bold;
  }
  .inlay-table tbody tr:nth-child(odd) {
    background-color: #1e2124; /* Alternate row color */
  }
  .inlay-table tbody tr:nth-child(even) {
    background-color: #36393e; /* Alternate row color */
  }
  
  .inlay-table tbody tr:hover {
    background-color: #424549; /* Hover background color */
  }
  .inlay-table thead th {
    background-color: #0026ad;
    color: white;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #3a3a3a; /* Darker border */
  
    opacity: 1;
}




.inlay-table tbody td {
    color: white;
}