{% extends "landingbase.html" %}

{% block title %}Home{% endblock %}

{% block navigationbar %}
<div class="topnav">
    <a class = "active" href={{url_for('index')}}>Home</a>
    <!-- <a href ="{{url_for('logout')}}">Logout</a> -->
    


    </div>
<div class="container">
{% endblock %}



{% block forms %}
<div class="container">
<h1>Analyst Ranker</h1>
<h4>Login or Signup</h4>
<div class="button-container">
    <a href="{{ url_for('login') }}" class="logsignbutton" id="login-button">Login</a>
    <a href="{{ url_for('signup') }}" class="logsignbutton" id="signup-button">Sign Up</a>
  </div>
  
</div>
<div class="stocks-footer">
<p>&copy; 2024 Stocks Website. All rights reserved.</p>
</div>
{% endblock %}
