<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    
        <!-- Flash Messages Block -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block navigationbar %}

        {% endblock %}
        <div class="form-container">

        {% block forms %}
        {% endblock %}
        </div>

    </div>
<script>
    // Add this script to your HTML or JS file
window.addEventListener('unload', function(event) {
    // Perform logout action here
    fetch('/logout', {
        method: 'POST',  // Assuming logout is handled via POST request
        credentials: 'same-origin'  // Ensure cookies (session) are sent
    })
    .then(response => {
        // Handle response if needed
        console.log('User logged out on tab close');
    })
    .catch(error => {
        // Handle error if needed
        console.error('Error logging out on tab close:', error);
    });
});

</script>
</body>
</html>
