{% extends "landingbase.html" %}

{% block title %}Analysts Ranking{% endblock %}

{% block navigationbar %}
<div class="topnav">
    <a href={{url_for('index')}}>Home</a>
    </div>
<div class="container">
{% endblock %}

{% block forms %}

    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag()}}
        {{form.username.label}}
        {{ form.username()}}
        <br/>
        {{form.password_hash.label}}
        {{ form.password_hash()}}
        <br/>
        {{form.submit()}}

    </form>

{% endblock %}   


