{% extends "landingbase.html" %}

{% block title %}Analysts Ranking{% endblock %}

{% block navigationbar %}
<div class="topnav">
    <a href={{url_for('index')}}>Home</a>

    </div>
<div class="container">
{% endblock %}

{% block forms %}

    <form method="POST" action="{{ url_for('signup') }}">
        {{ form.hidden_tag()}}
        {{form.name.label}}
        {{ form.name()}}
        <br/>
        {{form.username.label}}
        {{ form.username()}}
        <br/>
        {{form.email.label}}
        {{ form.email()}}
        <br/>
        {{form.password_hash.label}}
        {{ form.password_hash()}}
        <br/>
        {{form.password_hash2.label}}
        {{ form.password_hash2()}}
        <br/>
        {{form.submit()}}
        
    </form>

{% endblock %}   


