{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block navigationbar %}
<a href={{url_for('dashboard')}}>Dashboard</a>
<a href={{url_for('analyst')}}>Analyst View</a>
    <a href={{url_for('stocks')}}>Hot Stocks</a>
    <a href="{{url_for('recommendation')}}">Recommendations</a>
    <a href="{{url_for('ranker')}}">Rank view</a>
    <a href="{{url_for('portfolio')}}">My Portfolio</a>
    <a class = "active" href="{{url_for('today')}}">Portfolio Updates</a>
    <a href="{{url_for('orders')}}">Orders</a>
    
{% endblock %}
{% block forms %}

{% endblock %}   

{% block df %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Updates</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in df.iterrows() %}
            <tr>
                <td>{{row['Remarks']}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
